
<html >

<head>
 
<title>Student Predictor</title>

</head>

<body>
 <div class="login">
	<h1>School Predictor</h1>

     
        
        <form>
            <input type="text" name="Gender" placeholder="Gender" required="required" />
            <input type="text" name="Launch " placeholder="Launch" required="required" />
            <input type="text" name="Preparation" placeholder="Preparation" required="required" />

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
    

   <br>
   <br> 
   

 </div>


</body>
</html>